<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Scribble</h1>
    </div>
    <footer>
        <%include ../partials/footer %>
    </footer>
</body>
</html>