<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Scribble</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h2>
                    Users: 
                <h2>
                <ul style="list-style: none">
                    <% users.forEach(function(user) { %>
                        <!-- <form action="/api/:username?" method="get">
                            
                            <button class="btn btn-primary btn-lg" type="submit" name="username" id="userButt"> <%= user.username %> </button>
                          </form> -->
                          <!-- <li>
                            <button class="btn btn-primary btn-lg" type="submit" id="userButt"><%= user.username %></button>
                          </li> -->
                          <li>
                            <form name="form1" method="get" action="/api/user">
                                <input type="text" name="username"></input>
                                <input class = "btn btn-primary btn-lg" type="submit" name="button" id="button" value="Send" />
                            </form> 
                          </li>
                    <% }); %>    
                </ul>
            </div>
        </div>
    </div>
    <footer class="jumbotron" id="footer">
        <%include ../partials/footer %>
    </footer>
</body>
</html>
<!-- <script type="text/javascript">
$(document).ready(function(){
    $("#userButt").on("click", function(){
        var username = $("#userButt").text();
        console.log("username: " + username);
        
        $.ajax("/api/user", {
            type: "GET",
            data: {
                username: $("#userButt").text()
            },
            success: function(data) {
                console.log(data);
               
                location.replace("user");
            }
        })
        .then(function(){
            console.log("Ajax completed!");
            
        })
    });
});

</script> -->