<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Scribble</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h2>
                    Users: 
                <h2>
                <ul style="list-style: none">
                    <% users.forEach(function(user) { %>
                        <form action="/notes/:username?" method="get">
                            <button class="btn btn-primary btn-lg" type="submit" name="username" id="userButt"> <%= user.username %> </button>
                          </form>
                    <% }); %>    
                </ul>
            </div>
        </div>
    </div>
    <footer class="jumbotron" id="footer">
        <%include ../partials/footer %>
    </footer>
</body>
</html>