<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Notes</h1>
    </div>
    <div class="panel-body">
            <div class="col-lg-6">
                    <h2 id="name"> Username: <%= user %></h2>
            </div>
            <div class="col-lg-6">
              <form action="">
                <textarea rows="15" cols="100" id="note"></textarea>
                <button id="makeNote">Submit</button>
              </form>
            </div>
          </div>
    <footer class="jumbotron">
        <%include ../partials/footer %>
    </footer>
</body>
</html>